<!doctype html>
<html lang="pt-BR" id="page-home">
<head>
    <title>Stack Overflow PHP Questions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no" />
    <meta name="base-url" content="{{ url('disvolvi_api_homepage') }}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/disvolviapi/css/styles.css') }}" />
</head>
<body ng-app="disvolvi">
{% block body %}{% endblock %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="{{ asset('bundles/disvolviapi/js/application.js') }}"></script>
</body>
</html>
