body {
  font-family: arial;
}
section {
  padding-top: 30px;
  width: 700px;
  margin: 0px auto;
}
section .search {
  background: #eee;
  width: 650px;
  padding: 5px 25px 25px 25px;
  margin-top: 25px;
  height: 150px;
}
section .search label {
  display: inline-block;
  width: 142px;
  padding-right: 20px;
}
section .search label:last-of-type {
  padding: 0;
}
section .search label input {
  width: 100%;
}
section .search button {
  margin-top: 15px;
  float: right;
}
